@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text&family=Montserrat:wght@200;300;400&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background: #fff;
  color: #242424;
}

h1, h2, h3, h4, h5, h6, p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: 300;
}

.main {
  width: 1420px;
  max-width: 100%;
  margin: auto;
}

.modal {
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-template-rows: 1fr;
  gap: 0px;
  grid-template-areas: "left right";
  width: 100vw;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2000;
  visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
  transition: background .5s ease 0s;
  overflow-y: auto;
}

.modal__webgl {
  grid-area: left;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0;
  position: relative;
  visibility: hidden;
}

.modal__webgl:hover .nav, .modal__webgl:focus-within .nav {
  opacity: 1;
  transition: opacity .2s ease-out;
}

.modal__content {
  grid-area: right;
  padding: clamp(20px, 5vw, 600px);
}

.slides {
  display: flex;
  flex-wrap: wrap;
}

.canvas {
  height: 100vh;
  width: 100%;
  z-index: 10;
  grid-area: 1 / 1 / 1 / 1;
}

.canvas canvas {
  width: 100% !important;
}

.multi-textures {
  grid-area: 1 / 1 / 1 / 1;
  z-index: 11;
  align-content: center;
}

.multi-textures img {
  display: none;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.no-curtains .multi-textures {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-curtains.image-1 .multi-textures img:nth-child(2) {
  display: block;
}

.no-curtains.image-2 .multi-textures img:nth-child(3) {
  display: block;
}

.no-curtains.image-3 .multi-textures img:nth-child(4) {
  display: block;
}

.no-curtains.image-4 .multi-textures img:nth-child(5) {
  display: block;
}

.no-curtains.image-5 .multi-textures img:nth-child(6) {
  display: block;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 94%;
  margin: auto;
  opacity: 0;
  transition: opacity .2s ease-out, width .3s ease-in-out;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  width: 4em;
  height: 4em;
  margin: .5em .2em;
  cursor: pointer;
  transition: opacity .2s ease-in 0s;
}

.btn svg,
.btn svg path {
  pointer-events: none;
}

.progress {
  position: absolute;
  z-index: 222;
  transform: rotate(90deg);
  transform-origin: left center;
  width: calc(100vh - 6px);
  top: 0;
  left: 8px;
  height: 6px;
  border-radius: 0;
  border: 0;
}

::-webkit-progress-bar {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

::-webkit-progress-value {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0;
}

::-moz-progress-bar {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0;
}

@media (max-width: 768px) {
  .modal {
    grid-template-columns: 1fr;
    grid-template-areas: "left" "right";
  }
  .modal__webgl {
    height: 55vh;
  }
  .canvas {
    height: 55vh;
  }
  .progress {
    width: calc(55vh - 16px);
  }
}

.labels {
  display: flex;
  margin-bottom: 1.2em;
}

.labels .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0;
  width: 36px;
  height: 24px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.labels .container:not(:last-of-type) {
  margin-right: .6em;
}

.labels .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  margin: 0;
}

.labels .container input:checked ~ .checkmark {
  border: 1px solid rgba(0, 0, 0, 0.95);
}

.labels .container .checkmark {
  grid-area: 1 / 1 / 2 / 2;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: .7em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  display: flex;
  flex-direction: column;
  margin-bottom: .7em;
}

.product__title {
  font-family: 'Big Shoulders Stencil Text', cursive;
  font-size: clamp(18px, 3vw, 28px);
  line-height: 1.1;
  margin-bottom: .2em;
}

.product__title--modal {
  font-size: clamp(30px, 5vw, 120px);
  z-index: 99999;
}

.product__price {
  font-size: clamp(18px, 3vw, 24px);
  line-height: 1.1;
  margin-bottom: .7em;
}

.product__price--modal {
  font-size: clamp(20px, 2vw, 100px);
  z-index: 99999;
}

.product__description {
  font-size: clamp(15px, 1.8vw, 17px);
  line-height: 1.2;
  margin-bottom: 1.5em;
}

.product__description--modal {
  font-size: clamp(15px, 2vw, 18px);
}

.product__legend-size {
  font-size: clamp(15px, 2.5vw, 20px);
  line-height: 1.1;
  margin-bottom: .4em;
}

.product__legend-size--modal {
  font-size: clamp(15px, 1.2vw, 21px);
}

.product__submit {
  margin-top: auto;
  cursor: pointer;
  border: 0;
  appearance: none;
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(15px, 1.6vw, 22px);
  background-color: rgba(0, 0, 0, 0.95);
  color: #fff;
  padding: .8em .3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__submit:focus {
  outline: none;
}

.products {
  display: flex;
  justify-content: space-around;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.products .product {
  width: 30%;
  cursor: pointer;
}

.marquee {
  overflow: hidden;
  position: relative;
}

.marquee .mar-default {
  opacity: 1;
  transition: opacity linear .4s;
}

.marquee .mar-move {
  left: 0;
  display: block;
  width: 200%;
  position: absolute;
  overflow: hidden;
  opacity: 0;
}

.marquee .mar-move__txt {
  float: left;
  width: 50%;
}

.marquee:hover .mar-default {
  opacity: 0;
  transition: opacity linear .4s;
}

.marquee:hover .mar-move {
  opacity: 1;
  transition: opacity linear .4s .5s;
  animation: marquee 4s linear .5s infinite;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.svg-icon-close {
  width: 24px;
  height: 24px;
}

.product__img {
  width: 100%;
  height: 170px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: .6em;
}

.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0);
  transition: background .5s ease 0s;
}

.modal--active {
  visibility: visible;
}

.modal--active .modal__webgl {
  visibility: visible;
}

.modal-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  grid-area: 1 / 1 / 1 / 1;
  mix-blend-mode: multiply;
}

.modal-close {
  position: absolute;
  right: 7px;
  top: 7px;
  display: flex;
  z-index: 12;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close:focus {
  outline: none;
}

.custom-scroll .scrollscreen--track {
  width: 17px;
  background: #fff;
}

.custom-scroll .scrollscreen--slider {
  padding: .3em;
}

.custom-scroll .scrollscreen--slider::after {
  background: #5f6165;
  border-radius: 9999em;
}

.custom-scroll .scrollscreen {
  position: relative;
  height: 100%;
}

.custom-scroll .scrollscreen--track {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  pointer-events: none;
}

.custom-scroll .scrollscreen--slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  height: 0;
  border: none;
  background: transparent;
  pointer-events: none;
}

.custom-scroll .scrollscreen--slider::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
}

.custom-scroll .scrollscreen--content {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.custom-scroll *[dir='rtl'] .scrollscreen--track {
  left: 0;
  right: auto;
}

.is-fade-in .modal-overlay {
  visibility: visible;
  background-color: white;
}

.is-fade-out .modal-image {
  z-index: 3000;
}

.is-fade-out .modal {
  background-color: rgba(255, 255, 255, 0);
  transition: background .8s linear .6s;
}

.is-fade-out .modal .modal__webgl,
.is-fade-out .modal .product__img,
.is-fade-out .modal .product__title,
.is-fade-out .modal .product__price,
.is-fade-out .modal .modal-close {
  visibility: hidden;
}

.is-fade-out .modal .product__description,
.is-fade-out .modal .product__legend-size,
.is-fade-out .modal .labels,
.is-fade-out .modal .product__submit {
  opacity: 0;
  transition: opacity .5s linear;
}

.is-fade-out [data-modal-active="true"] .product__img {
  visibility: hidden;
}

[data-text-animation] {
  position: relative;
}

[data-text-animation] .text-animation {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

[data-text-animation] .text-animation > span {
  position: relative;
  display: inline-block;
  height: initial;
  color: transparent;
}

[data-text-animation] .text-animation > span::before {
  content: "";
  background-color: #fff;
  width: 100%;
  display: block;
  position: absolute;
  height: inherit;
}
