@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text&family=Montserrat:wght@200;300;400&display=swap');
* {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	background: #fff;
	color: #242424;
}
h1, h2, h3, h4, h5, h6, p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: 300;
}
.main {
	width: 1420px;
	max-width: 100%;
	margin: auto;
}
.modal {
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-template-rows: 1fr;
  gap: 0px;
  grid-template-areas:
		"left right";
	width: 100vw;
	margin: auto;

	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 2000;
	visibility: hidden;
	backface-visibility: hidden;
	background-color: #fff;
	transition: background .5s ease 0s;
	overflow-y: auto;
	&__webgl {
		grid-area: left;
		width: 100%;
		height: 100vh;
		overflow: hidden;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-gap: 0;
		position: relative;
		visibility: hidden;
		&:hover,
		&:focus-within {
			.nav {
				opacity: 1;
				transition: opacity .2s ease-out;
			}
		}
	}
	&__content {
		grid-area: right;
		//padding: max(70px, min(5vw, 600px));
		padding: clamp(20px, 5vw, 600px);
	}
}

.slides {
	display: flex;
	flex-wrap: wrap;
}
.canvas {
	height: 100vh;
	width: 100%;
	z-index: 10;
	grid-area: 1 / 1 / 1 / 1;
	canvas {
		width: 100% !important;
	}
}

.multi-textures {
	grid-area: 1 / 1 / 1 / 1;
	z-index: 11;
	align-content: center;
	img {
		display: none;
		object-fit: cover;
		object-position: center;
		height: 100%;
		width: 100%;
	}
}
.no-curtains {
	.multi-textures {
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.modal--active {
		.multi-textures img:nth-child(2) {
			display: block;
		}
		.progress,
		.nav {
			display: none;
		}
	}
}

.nav {
  display: flex;
  justify-content: space-between;
	width: 94%;
	margin: auto;
	opacity: 0;
	transition: opacity .2s ease-out, width .3s ease-in-out;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
	background-color: transparent;
  border: 0;
  width: 4em;
  height: 4em;
	margin: .5em .2em;
	cursor: pointer;
	transition: opacity .2s ease-in 0s;
	svg,
	svg path {
		pointer-events: none;
	}
}

.progress {
	position: absolute;
	z-index: 222;
	
	transform: rotate(90deg);
  transform-origin: left center;
	width: calc(100vh - 6px);
	top: 0;
	left: 8px;
	height: 6px;
	border-radius: 0;
	border: 0;
}
::-webkit-progress-bar {
	background-color: rgba(0, 0, 0, .1);
	border-radius: 0;
}
::-webkit-progress-value {
	background-color: rgba(0, 0, 0, .5);
	border-radius: 0;
}
::-moz-progress-bar {
	background-color: rgba(0, 0, 0, .5);
	border-radius: 0;
}


@media (max-width: 768px) {
	.modal {
		grid-template-columns: 1fr;
		grid-template-areas:
			"left"
			"right";
		&__webgl {
			height: 55vh;
		}
	}
	.canvas {
		height: 55vh;
	}
	.progress {
		width: calc(55vh - 16px);
	}
}
:root {
	--label-w: 36;
	--label-h: 24;
	--dasharray: calc(calc(var(--label-w) * 2) + calc(var(--label-h) * 2))
}

.labels {
	display: flex;
	margin-bottom: 1.2em;
	.label {
		&:not(:last-of-type) {
			margin-right: .6em;
			transition: margin .4s ease;
		}
		display: grid;
		gap: 0;
		position: relative;
		width: calc(var(--label-w) * 1px);
		height: calc(var(--label-h) * 1px);
		cursor: pointer;
		font-size: 22px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
			height: 0;
			width: 0;
			margin: 0;
			&:checked ~	.label__checkmark .shape-rect {
				stroke-dashoffset: 0;
			}
			&:focus ~	.label__checkmark .shape-rect {
				fill: rgba(0,0,0,.1);
			}
		}
		&__checkmark {
			display: grid;
			width: inherit;
			height: inherit;
			.shape,
			.text {
				grid-area: 1 / 1 / 2 / 2;
				width: inherit;
				height: inherit;
			}
			.shape-rect {
				width: inherit;
				height: inherit;
				stroke-dasharray: var(--dasharray);
				stroke-dashoffset: var(--dasharray);
				stroke-width: 1px;
				fill: rgba(255,255,255,0);
				stroke: #111;
				transition: stroke-dashoffset 1s;
			}
			.text {
				font-size: .7em;
				color: #242424;
				width: 100%;
				height: 100%;
				border: .5px solid rgba(0,0,0,.1);
				display: flex;
				justify-content: center;
				align-items: center;
				transition: color .5s ease .1s;
			}
			&:hover .shape-rect {
				stroke-dashoffset: 0;
			}
		}
	}
}
.labels--animating {
	.label {
		&:not(:last-of-type) {
			margin-right: 0;
		}
		&__checkmark {
			.text {
				border-color: rgba(0,0,0,0);
				color: rgba(0,0,0,0);
			}
		}
	}
}


// Product content
.product {
	display: flex;
	flex-direction: column;
	margin-bottom: .7em;
	&__title {
		font-family: 'Big Shoulders Stencil Text', cursive;
		font-size: clamp(18px, 3vw, 28px);
		line-height: 1.1;
		margin-bottom: .2em;
		&--modal {
			font-size: clamp(30px, 5vw, 120px);
			z-index: 99999;//higher than product img modal
		}
	}
	&__price {
		font-size: clamp(18px, 3vw, 24px);
		line-height: 1.1;
		margin-bottom: .7em;
		&--modal {
			font-size: clamp(20px, 2vw, 100px);
			z-index: 99999;//higher than product img modal
		}
	}
	&__description {
		font-size: clamp(15px, 1.8vw, 17px);
		line-height: 1.2;
		margin-bottom: 1.5em;
		&--modal {
			font-size: clamp(15px, 2vw, 18px);
		}
	}
	&__legend-size {
		font-size: clamp(15px, 2.5vw, 20px);
		line-height: 1.1;
		margin-bottom: .4em;
		&--modal {
			font-size: clamp(15px, 1.2vw, 17px);
		}
	}
	&__submit {
		margin-top: auto;
		cursor: pointer;
		border: 0;
		appearance: none;
		font-family: 'Montserrat', sans-serif;
		font-size: clamp(15px, 1.6vw, 22px);
		background-color: rgba(0, 0, 0, .95);
		color: #fff;
		padding: .8em .3em;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		&:focus {
			outline: none;
		}
		&::before {
			content: "";
			background-color: #000;
			height: 100%;
			width: 0;
			position: absolute;
			clip-path: polygon(70% 0, 70% 0, 30% 100%, 30% 100%);
			transition: width 1s, clip-path 1s;
		}
	}
}
.modal {
	&--active {
		.product__submit {
			background-color: #fff;
			&::before {
				width: 100%;
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
				transition: width .8s ease-in-out .3s, clip-path .8s .3s ease-in-out;
			}
		}
	}
}

.products {
	display: flex;
	justify-content: space-around;
	justify-content: space-evenly;
	flex-wrap: wrap;
	.product {
		width: 30%;
		cursor: pointer;
	}
}

.marquee {
	overflow: hidden;
	position: relative;
	.mar-default {
		z-index: 1;
		opacity: 1;
		transition: opacity linear .4s;
	}
	.mar-move {
		font-size: .75em;
		left: 0;
		display: block;
		width: 200%;
		
		position: absolute;
		overflow: hidden;
		opacity: 0;
		&__txt {
			float: left;
			width: 50%;
		}
	}
	&:hover {
		.mar-default {
			opacity: 0;
			transition: opacity linear .4s;
		}
		.mar-move {
			opacity: 1;
			transition: opacity linear .4s .5s;
			animation: marquee 4s linear .5s infinite;
		}
	}
}

@keyframes marquee {
	0% { left: 0; }
	100% { left: -100%; }
}

.product__img {
	width: 100%;
	height: 170px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border: 1px solid rgba(0,0,0,.2);
	margin-bottom: .6em;
}

.modal {
	&-overlay {
		position: fixed;
		width: 100%;
		height: 100%;
		visibility: hidden;
		top: 0;
		left: 0;
		background: rgba(255,255,255,0);
		transition: background .5s ease 0s;
	}

	&--active {
		visibility: visible;
		.modal__webgl {
			visibility: visible;
		}
	}
	
	&-image {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		z-index: 1;
		grid-area: 1 / 1 / 1 / 1;
		mix-blend-mode: multiply;
	}

	&__close {
		position: absolute;
		right: 7px;
		top: 7px;
		display: flex;
		z-index: 12;
		background-color: transparent;
		border: 0;
		cursor: pointer;
		.svg-icon-close {
			width: 24px;
			height: 24px;
		}
		&:focus {
			outline: none;
		}
	}
}



.custom-scroll {
  .scrollscreen {
    &--track {
      width: 17px;
      background: #fff;
    }
    &--slider {
      padding: .3em;
    }
    &--slider::after {
      background:#5f6165;
      border-radius:9999em;
    }
  }

  .scrollscreen {
    position:relative;
    height: 100%;

    &--track {
      position:absolute;
      right:0;
      top:0;
      height:100%;
      pointer-events:none;
    }
    &--slider {
      position:absolute;
      top:0;
      left:0;
      right:0;
      box-sizing:border-box;
      height:0;
      border:none;
      background:transparent;
      pointer-events:none;

      &::after {
        content:'';
        display:block;
        width:100%;
        height:100%;
      }
    }
    &--content {
      position:relative;
      height:100%;
      overflow-x:hidden;
      overflow-y:auto;
    }
  }

  *[dir='rtl'] .scrollscreen--track {
    left:0;
    right:auto;
  }
}

.is-animating {
	.modal__close {
		visibility: hidden;
	}
}
.is-fade-in {
	.modal-overlay {
		visibility: visible;
		background-color: rgba(255,255,255,1);
	}
} 

.is-fade-out {
	.modal-image {
		z-index: 3000;
	}
	.modal {
		background-color: rgba(255,255,255,0);
		transition: background .8s linear .6s;
		.modal__webgl,
		.product__img,
		.product__title,
		.product__price {
			visibility: hidden;
		}
		.product__description,
		.product__legend-size,
		.labels,
		.product__submit {
			opacity: 0;
			transition: opacity .5s linear;
		}
	}
	[data-modal-active="true"] {
		.product__img {
			visibility: hidden;
		}
	}
}

[data-text-animation] {
	position: relative;
	.text-animation {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		> span {
			position: relative;
			display: inline-block;
			color: transparent;
			&::before {
				content: "";
				background-color: #fff;
				width: 100%;
				display: block;
				position: absolute;
				height: inherit;
			}
		}
	}
}
